* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
}

.header {
  align-items: center;
  background-color: #20273f;
  display: flex;
  height: 15rem;
  justify-content: space-between;
  overflow: hidden;
  padding: 3rem;
}

.logo-header img {
	height: 15rem;
}

.header-nav {
	display: flex;
  gap: 2.5rem;
}

.header-nav li {
  list-style: none;
}

.header-nav a {
	color: white;
  font-size: 2rem;
	text-decoration: none;
}

.header-nav a:hover { 
  color: #e6adc9;
}

.icon {
	display: none;
}

.sidenav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding: 3rem 0;
  box-shadow: 0.2rem 0.8rem 2rem rgba(221, 204, 204, 0.479);
  border-radius: 0 0 0 0.5rem;
  width: 0;
}

.sidenav a {
  padding: 0.8rem 0.8rem 0.8rem 3.2rem;
  text-decoration: none;
  font-size: 2rem;
  color: #292929;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, a:focus{
  color: #e6adc9;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 3rem;
  line-height: 2rem;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.hero {
  display: flex;
  padding: 4rem;
  background-color: rgba(238, 184, 231, 0.1);
}

.hero-presentation h1 {
  font-size: 6.4rem;
  line-height: 8rem;
  padding-right: 5rem;
}

.hero-presentation p {
  font-size: 2.5rem;
  line-height: 4rem;
  margin: 2rem 0;
  padding-right: 5rem;
}

.hero-image img {
  height: 40rem;
  border-radius: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  height: 4.2rem;
  padding: 1rem;
  text-decoration: none;
}

.download-button {
  background: #EE3EC9;
  color: white;
  width: 16rem;
}

.proyectos-container {
  padding: 2rem;
  background-color: #edf0f8;
}

.proyectos-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 7rem;
  padding: 0.5rem;
}

.proyectos-description h2 {
  font-weight: 700;
  font-size: 4.8rem;
  grid-column: 1 / 2;
  margin: 1rem;
}

.proyectos-description p {
  font-size: 2.4rem;
  font-weight: 400;
  grid-column: 2 / 3;
  margin: 2rem;
}

.marvel-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px auto 150px;
  padding: 0 20rem;
  width: 100%;
}

.marvel-img {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  width: 100%;
  padding-left: 50px;
}

.marvel {
  grid-column: 1;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 0.22px solid white;
  border-radius: 0.5rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: #292929;
  padding: 3rem;
  align-content: space-around;
}

.marvel p {
  padding-bottom: 1rem;
  font-size: 2.2rem;
  width: 100%;
}

.marvel-btn1 {
  color: white;
  background: #20273f;
}

.marvel-btn2 {
  color: #1f294b;
  border: 0.1rem solid #1f294b;
  margin-left: 3rem;
}

.ver-proyectos {
  color: white;
  background: #20273f;
  margin: 5rem auto;
}

.footer-container {
  display: flex;
  background: #20273f;
  height: 12rem;
  padding: 2rem 4rem;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.p-footer {
  color: #fff;
  font-size: 1.8rem;
}

.footer-icon {
  display: flex;
  gap: 2rem;
}

.footer-icon img {
  width: 3rem;
}

@media screen and (max-width: 770px) {

  .header {
    height: 13rem;
    padding: 0.5rem;
  }

	.logo-header img {
	  height: 14rem;
	}

  .header-nav {
    gap: 0;
  }

  .header-nav a {
    margin-right: 1rem;
  }

  .hero {
    align-items: center;
    flex-wrap: wrap;
  }

  .hero-presentation h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .hero-presentation button, .hero-image {
    margin: 2rem auto;
    display: block;
  }

  .proyectos-description h2 {
    font-size: 3rem;
  }

  .proyectos-description p {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .marvel {
    padding: 1rem;
    
  }
  .marvel p {
    font-size: 1.5rem;
  }

  .marvel-contents {
    grid-template-rows: 50px auto 50px;
    padding: 0 5rem;
  }
  .marvel-btn2{
    margin: 0;
    padding: 0.5rem;
  }
  .marvel-btn1 {
    padding: 0.5rem;
    margin-right: 1rem;
  }

}

@media screen and (max-width: 480px) {

  .header {
    height: 11rem;
    padding: 1rem;
  }

  .header-nav li {
    display: none;
  }

  .header-nav .icon {
    font-weight: 900;
    font-size: 2.7rem;
    display: block;
  }

  .logo-header img {
    height: 11rem;
  }

  .hero {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }

  .hero-presentation h1 {
    font-size: 2.6rem;
    line-height: 3rem;
    padding: 0;
  }

  .hero-presentation p {
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0;
  }

  .btn {
    font-size: 1.4rem;
  }

  .download-button {
    width: 16.5rem;
  }

  .hero-image img {
    height: 20rem;
  }

  .proyectos-container {
    margin: 0;
  }

  .proyectos-description {
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .proyectos-description h2 {
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .proyectos-description p {
    font-size: 1.4rem;
    margin: 0;
  }

  .marvel-contents {
    width: 94%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 2rem;
    background-color: white;
  }

  .marvel-img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 0px;
  }

  .marvel {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border: none;
    box-shadow: none;
  }

  .marvel p {
    padding-bottom: 2rem;
  }

  .footer-container {
    padding: 1rem;
    gap: 1rem;
    height: 8rem;
  }
  
  .p-footer {
    font-size: 1.2rem;
  }

  .footer-icon {
    gap: 1.5rem;
  }
  
  .footer-icon img {
    width: 2.5rem;
  }
}